@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
 
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#37ecba,#72afd3);

    --background: 174 53.949999999999996% 4.56%;
    --foreground: 174 8.299999999999999% 97.85%;

    --muted: 174 41.5% 17.099999999999998%;
    --muted-foreground: 174 8.299999999999999% 55.7%;

    --popover: 174 48.400000000000006% 7.409999999999999%;
    --popover-foreground: 174 8.299999999999999% 97.85%;

    --card: 174 48.400000000000006% 7.409999999999999%;
    --card-foreground: 174 8.299999999999999% 97.85%;

    --border: 174 41.5% 17.099999999999998%;
    --input: 174 41.5% 17.099999999999998%;

    --primary: 174 83% 57%;
    --primary-foreground: 174 8.299999999999999% 5.699999999999999%;

    --secondary: 174 41.5% 17.099999999999998%;
    --secondary-foreground: 174 8.299999999999999% 97.85%;

    --accent: 174 41.5% 17.099999999999998%;
    --accent-foreground: 174 8.299999999999999% 97.85%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 174 8.299999999999999% 97.85%;

    --ring: 174 83% 57%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}